@{
    ViewBag.Title = "Home Page";
}
@model NewClubProject.Models.ClubMemberInfoModel

<div class="jumbotron" id="heading1">
    <h2 >Members Information</h2>
</div>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>

</head>
<body>
    <div class="row">
        <div class="form-group text-center">
            <input type="button" class="btn btn-group-lg btn-success" name="AddNewMember" value="Add New Member" id="btnNewMember" onclick="btnNewMember()"/>
           <input type="button" class="btn btn-group-lg btn-primary" name="List" value="View Member List" id="btnViewList" onclick="btnViewMember()"/>
        </div>
    </div>

 
    <div class="row form-group">


        <div class="col-sm-12">
            <div class="col-sm-4">
                <label for="txtSelectClub">Select Club</label>
                <select class="form-control" id="txtSelectClub">
                </select>
            </div>
            <div class="col-sm-4">

                <label for="txtClubId" >Club Id</label>
                <input type="text" class="form-control" id="txtClubId" readonly />
            </div>

            <div class="col-sm-4">
                <label for="txtTotalMember">Total Members</label>
                <input class="form-control col-sm-2" type="text" id="txtTotalMember" readonly />
            </div>
        </div>
        <div class="col-sm-12" id="formInfo">

            <div class="col-sm-3">
                <label for="txtClubId">Name</label>
                <input type="text" class="form-control" id="txtMemberName" placeholder="Enter Name" />
            </div>
            <div class="col-sm-3">
                <label for="txtClubId">Mobile Number</label>
                <input type="text" class="form-control" id="txtMobile" placeholder="Enter Mobile Number" />
            </div>
            <div class="col-sm-3">
                <label for="txtClubId">NID</label>
                <input type="text" class="form-control" id="txtNid" placeholder="Enter NID" />
            </div>
            <div class="col-sm-3">
                <label for="txtClubId">Address</label>
                <input type="text" class="form-control" id="txtAddress" placeholder="Enter Address" />
            </div>
        </div>
        <div class="form-group" id="memberTableDiv">
            <table id="memeberTable" hidden>
                <thead>
                    <tr>
                        <th class="col-sm-1">ID</th>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Mobile Number</th>
                        <th class="col-sm-2">National ID</th>
                        <th class="col-sm-3">Address</th>
                        <th class="col-sm-2">Club Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>

        <div class="form-group text-center">
            <br />
            <input type="button" class="btn btn-group-lg btn-primary" name="Add" value="Add" id="btnMembertable" onclick="insertData();" />
        </div>

        <div class="form-group" id="tableAddMemberDiv">

            <table class="table entry-form" id="tableAddMember">
                <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        <th class="col-sm-2">Mobile Number</th>
                        <th class="col-sm-2">National ID</th>
                        <th class="col-sm-2">Club Name</th>
                        <th class="col-sm-2">Club ID</th>
                        <th class="col-sm-2">Address</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            @*<div class="table-scrollable">
                <table class="table  table-hover table-bordered">
                    <tbody id="tbody"></tbody>
                </table>
            </div>*@
            <div class="form-group text-center">
                <input type="button" class="btn btn-group-lg btn-success" name="Add" value="SAVE" id="btnSave" onclick="saveData()" />
            </div>
        </div>
    </div>
</body>
</html>
<script>

    $(document).ready(function () {
        $('#formInfo').hide();
        $('#btnMembertable').hide();
        $('#btnSave').hide();

        loadClubData();

        $('#txtSelectClub').on('change', function () {
            var selectedClub = $(this).val();
            $.ajax({
                url: '@Url.Action("GetClubIDMember", "Home")',
                type: 'GET',
                data: { clubName: selectedClub },
                success: function (data) {
                    // Check if data is an object
                    if (typeof data === 'object') {
                        var defaultValue = 'Not Found';
                        var clubId = data[0].ClubId ?? defaultValue;
                        var totalMember = data[0].TotalMembers ?? defaultValue;

                        // Rest of the code
                    } else {
                        console.error('Invalid data format. Expected an object.');
                    }
                    $('#txtClubId').val(clubId);
                    $('#txtTotalMember').val(totalMember);
                },
                error: function () {
                    console.error('Error...!!!');
                }
            });


        });


    });

    function getMemberListForClub() {

             $('#memeberTable').show();
             $('#tableAddMemberDiv').hide();
              var selectedClub = $('#txtSelectClub').val();

            $.ajax({
                url: '@Url.Action("GetMemberInfoForClub", "Home")',
                type: 'GET',
                dataType: 'json',
                data: { clubName: selectedClub },
                success: function (data) {
                   // console.log(data);
                    $('#memeberTable').DataTable({
                        paging: true,
                        sort: true,
                        searching: true,
                        scrollY: 200,
                        bDestroy: true,
                        data: data,
                        columns: [
                            { "data": "MemberId" },
                            { "data": "MemberName" },
                            { "data": "MobileNumber" },
                            { "data": "NID" },
                            { "data": "MemberAddress" },
                            { "data": "ClubName" }
                        ]
                    });

                },
                error: function (error) {
                    console.error('Error loading data:', error)
                }

             });




    }

        function saveData() {

            $.ajax({
                url: '@Url.Action("SaveData", "Home")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ JMemberList: JMemberList}),
                success: function (result) {
                    alert(result);
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });

        }
        // JSON Array List JMemberList
        var JMemberList = [];
        var table = $('#tableAddMember').DataTable({
            columns: [
                { data: 'MemberName' },
                { data: 'MobileNumber' },
                { data: 'NID' },
                { data: 'ClubName' },
                { data: 'ClubId' },
                { data: 'MemberAddress' },
            ]
        });
        // Build the JSON Object JMember -- from form Data
        // Push the object in JMemberList
        function insertData() {
            var JMember = {
                MemberName: $('#txtMemberName').val(),
                MobileNumber: $('#txtMobile').val(),
                NID: $('#txtNid').val(),
                ClubName: $('#txtSelectClub').val(),
                ClubId: $('#txtClubId').val(),
                MemberAddress: $('#txtAddress').val()

            };
            table.clear();

            // While Pushing the data, validate the NID and Other fileds
            if (!isDuplicate(JMember.NID, JMember.MobileNumber)) {
                JMemberList.push(JMember);

                updateDataTable();

            }
            else {
                alert('Duplicate NID or Name');
            }
        }


        // foreach member in JMemberList check for the NID of JMemeber Object
        // If not found same Nid , then Push, Otehrwise give an alert that duplicate NID
        function isDuplicate(NID, MblNumber ) {
            var isDuplicate = false;

            JMemberList.forEach(function (member) {
                if (member.NID === NID || member.MobileNumber === MblNumber) {
                    isDuplicate = true;

                }
            });

            return isDuplicate;
        }


        // Update the Datatable
        function updateDataTable() {
            table.rows.add(JMemberList).draw();
            $('#memeberTable').DataTable().destroy();

        }
        // In Save method, you will send the JMemberList And ClubId to the contrller through ajax Call
        //


    function loadClubData() {
        $('#txtSelectClub').append("<option value='0'>-Select Club-</option>");
            $.ajax({
                url: '@Url.Action("getClubInfo", "Home")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#txtSelectClub").append($("<option value='" + value.ClubName + "'>" + value.ClubName + "</option>"));

                    });

                },
                error: function (error) {
                    console.error('Error loading data:', error);
                }
            });
        }

    function btnViewMember()
    {
        getMemberListForClub();

        $('#tableAddMember').DataTable().destroy();
    }
    function btnNewMember() {
        $('#formInfo, #btnViewList2, #btnMembertable, #btnSave, #tableAddMemberDiv').show();
        $('#memberTableDiv, #heading1, #btnViewList1').hide();
        //loadClubData();
    }


// JSON Array List JMemberList


        // Build the JSON Object JMember -- from form Data
        // Push the object in JMemberList

        // While Pushing the data, validate the NID and Other fileds

        // foreach member in JMemberList check for the NID of JMemeber Object

        // If not found same Nid , then Push, Otehrwise give an alert that duplicate NID


        // Update the Datatable

        // In Save method, you will send the JMemberList And ClubId to the contrller through ajax Call





</script>